{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {},
  "rules": {
    "node/exports-style": ["error", "module.exports"]
  }
}
